.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px; /* Adicione um espaço extra abaixo do título */
}

button.search-button,
button.random-button {
  padding: 10px 20px; /* Reduz a altura dos botões e mantém a largura */
  font-size: 1.5rem;
  margin: 10px 0; /* Aumenta o espaço vertical entre os botões */
}

.search-input {
  height: 50px; /* Aumenta a altura do campo de digitar */
  padding: 10px;
  font-size: 1.5rem;
  margin: 10px 0;
}

#palavra-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
